{% extends "core/base.html" %}
{% block title %}Contact • Sri Maha Laxmi Traders{% endblock %}
{% block content %}

<div class="section-title">
  <div>
    <h2>Contact</h2>
    <p>Reach us anytime</p>
  </div>
</div>

<div class="row">
  <div class="card kv">
    <b>Shop Address</b>
    <div>6-8-151, Namdevada, Nizamabad 503002, Telangana</div>
    <b>Phone</b>
    <div>+91 9440574394<br>+91 7386034104</div>
    <b>Email</b>
    <div>santhoshchanda4@gmail.com<br>likith.chanda0404@gmail.com</div>
  </div>

  <div class="card kv">
    <b>Order Options</b>
    <div>Pickup / Delivery (manual confirmation)</div>
    <b>WhatsApp Notifications</b>
    <div>Owner receives order alerts on +91 7386034104</div>
    <b>Working Note</b>
    <div class="muted">Online payment will be added later if required.</div>
  </div>
</div>

{% endblock %}
